extends _layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team
              li.front-page
                a(href='/car/') The Car
              li.front-page
                a(href='/comp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  //  Marketing messaging and featurettes
  //  ==================================================
  //  Wrap the rest of the page in another container to center all the content.
  .container
    .row
      .col-xs-12
        br
        br
        h1(style="text-align:center")
          | ERROR 404 - This page can't be found!
        br
        br
        br
        br

  include _sponsors.jade
