hr
// FOOTER
footer(style="padding:0px 30px")
	.row

		.col-lg-6
			p(align="left" position="absolute" style="font-size:20px;")
				| © 2016 UVic Formula Motorsport. All Rights Reserved
		.col-lg-6.social-icons
			ul
				li
					a(href='/aboutcomp/')
						img(src='/img/icons/Flickr-black.svg')

				li
					a(href='/aboutcomp/')
						img(src='/img/icons/Instagram-black.svg')
				li
					a(href='/aboutcomp/')
						img(src='/img/icons/Twitter-black.svg')

				li
					a(href='/aboutcomp/')
						img(src='/img/icons/Facebook-black.svg')

