hr
// FOOTER
.container-fluid
	footer(style="padding:0px 30px")
		.row
			.col-xs-6
				p(style="align: left; margin-left: 0; margin-right: auto; font-size:20px;")
					| © 2016 UVic Formula Motorsport. All Rights Reserved
			.col-xs-6.social-icons
				a(href='https://www.flickr.com/photos/uvicfsae/albums/' target="_blank")
					img(src='/img/icons/Flickr-color-lg.png')

				a(href='https://www.youtube.com/channel/UCZs6NRtl950DlijfmLDGZ0Q' target="_blank")
					img(src='/img/icons/Youtube-color.png')

				a(href='https://twitter.com/uvicfsae' target="_blank")
					img(src='/img/icons/Twitter-color-lg.png')

				a(href='https://www.facebook.com/UVicFSae/' target="_blank")
					img(src='/img/icons/Facebook-color-lg.png')

