.row(style='margin-left:20%;margin-right:20%;margin-top:20px;')
  .col-xs-6.col-sm-3(style='margin-bottom:10px')
    a.btn.btn-block.btn-social.btn-twitter.social-media-button(href="https://twitter.com/uvicfsae")
      span.fa.fa-twitter
      |  Twitter
  .col-xs-6.col-sm-3(style='margin-bottom:10px')
    a.btn.btn-block.btn-social.btn-facebook.social-media-button(href="https://www.facebook.com/UVicFSae/")
      span.fa.fa-facebook
      |  Facebook
  .col-xs-6.col-sm-3(style='margin-bottom:10px')
    a.btn.btn-block.btn-social.btn-instagram.social-media-button(href="https://www.instagram.com/uvicfsae/")
      span.fa.fa-instagram
      |  Instagram
  .col-xs-6.col-sm-3(style='margin-bottom:10px')
    a.btn.btn-block.btn-social.btn-flickr.social-media-button(href="https://www.flickr.com/photos/uvicfsae/albums")
      span.fa.fa-flickr
      |  Flickr
