hr
.container.marketing
  .row
    .col-md-6
      a(href='http://www.r410.ca/')
        img.img-rounded(src='/img/sponsors/r-410_sm.png', alt='R410 Holdings', height='80')
      h3 R-410 Holdings
      p
        | Supplies our team with composite material and fabrication equipment.
      p
        a.btn.btn-default(href='http://www.r410.ca/', role='button') Website

    .col-md-6
      a(href='http://engineersmachineshop.ca')
        img.img-rounded(src='/img/sponsors/prototypeequip_lg.png', alt='Prototype Equipment Design', width='350', height='80')
      h3 Prototype Equipment Design
      p
        | Fabricates the Torsen T1 differential housing for our drivetrain system.
      p
        a.btn.btn-default(href='http://engineersmachineshop.ca/', role='button') Website
  .row

    .col-md-6
      a(href='http://eaglemachine.ca/')
        img.img-rounded(src='/img/sponsors/eaglemach_lg.jpg', alt='Eagle Machine', height='80')
      h3 Eagle Machine Inc.
      p
        | High precision gear cutting and engine manufacturing.
      p
        a.btn.btn-default(href='http://eaglemachine.ca/', role='button') Website

    .col-md-6
      a
        img.img-rounded(src='/img/sponsors/foremancnc_med.png', alt='Foreman CNC Machining Ltd', height='80')
      h3 Foreman CNC Machining Ltd.
      p
        | High precision prototying.
