hr
.container-fluid.marketing
  .row
    .col-lg-4
      a(href='http://www.crp-usa.net/' target="_blank")
        img.img-rounded(src='/img/sponsors/crpusa_med.jpg', alt='CRP 3D Printing', height='75').pic-align

    .col-lg-4
      a(href='http://engineersmachineshop.ca' target="_blank")
        img.img-rounded(src='/img/sponsors/prototypeequip_lg.png', alt='Prototype Equipment Design', width='350', height='75').pic-align

    .col-lg-4
      a(href='http://eaglemachine.ca/' target="_blank")
        img.img-rounded(src='/img/sponsors/eaglemach_lg.jpg', alt='Eagle Machine', height='75').pic-align