hr
.container.marketing
  .row
    .col-lg-4
      a(href='http://www.r410.ca/')
        img.img-rounded(src='/img/sponsors/r-410_sm.png', alt='Generic placeholder image', height='80')
      h3 R-410 Holdings
      p
        | Supplies our team with composite material and fabrication equipment.
      p
        a.btn.btn-default(href='http://www.r410.ca/', role='button') Website

    .col-lg-4
      a(href='http://engineersmachineshop.ca')
        img.img-rounded(src='/img/sponsors/prototypeequip_lg.png', alt='Generic placeholder image', width='350', height='80')
      h3 Prototype Equipment Design
      p
        | Fabricates the Torsen T1 differential housing for our drivetrain system.
      p
        a.btn.btn-default(href='http://engineersmachineshop.ca/', role='button') Website

    .col-lg-4
      a(href='http://eaglemachine.ca/')
        img.img-rounded(src='/img/sponsors/eaglemach_lg.jpg', alt='Generic placeholder image', height='80')
      h3 Eagle Machine Inc.
      p
        | High precision gear cutting and engine manufacturing.
      p
        a.btn.btn-default(href='http://eaglemachine.ca/', role='button') Website
