hr
.container.marketing
  .row
    .col-lg-4
      a(href='http://www.crp-usa.net/' target="_blank")
        img.img-rounded(src='/img/sponsors/crpusa_med.jpg', alt='CRP 3D Printing', height='80')
      h3 CRP USA
      p
        | Supplies our team with a 3D printed steering wheel, valve cover, intake, and oil pan.
      p
        a.btn.btn-default(href='http://www.crp-usa.net/' target="_blank", role='button') Website

    .col-lg-4
      a(href='http://engineersmachineshop.ca' target="_blank")
        img.img-rounded(src='/img/sponsors/prototypeequip_lg.png', alt='Prototype Equipment Design', width='350', height='80')
      h3 Prototype Equipment Design
      p
        | Fabricates the Torsen T1 differential housing for our drivetrain system.
      p
        a.btn.btn-default(href='http://engineersmachineshop.ca/' target="_blank", role='button') Website

    .col-lg-4
      a(href='http://eaglemachine.ca/' target="_blank")
        img.img-rounded(src='/img/sponsors/eaglemach_lg.jpg', alt='Eagle Machine', height='80')
      h3 Eagle Machine Inc.
      p
        | High precision gear cutting and engine manufacturing.
      p
        a.btn.btn-default(href='http://eaglemachine.ca/' target="_blank", role='button') Website