hr
.container.marketing
  .row
    .col-lg-4
      a(href='http://www.crp-usa.net/')
        img.img-rounded(src='/img/sponsors/crpusa_med.jpg', alt='CRP 3D Printing', height='50')

    .col-lg-4
      a(href='http://engineersmachineshop.ca')
        img.img-rounded(src='/img/sponsors/prototypeequip_lg.png', alt='Prototype Equipment Design', width='350', height='50')

    .col-lg-4
      a(href='http://eaglemachine.ca/')
        img.img-rounded(src='/img/sponsors/eaglemach_lg.jpg', alt='Eagle Machine', height='50')
