extends _layout

block content
  link(rel='stylesheet', href='/css/car.css')
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team

              li.dropdown.front-page.active
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/car2017/') 2017 Car
                  li
                    a(href='/car2016/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page
                a(href='/comp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact
  // ABOUT THE CARS
  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        img.img-responsive(src='/img/car2014.jpg' style="object-fit:cover; max-height:600px; min-height:300px; width:100%;")
      .col-lg-2
    .row
      .col-lg-2
      .col-sm-8
        // Content
        #content
          section.last
            h3(style="font-weight:800;") UV14
            table.default
              thead
                tr
                  th Specifications
                  th
              tbody
                tr
                  td Car Number
                  td 16
                tr
                  td Color
                  td Two tone black and red
                tr
                  td Frame
                  td 4130 Chromoly steel space frame
                tr
                  td Aero
                  td
                    | Carbon Fibre: 3-Piece Body, 3-Element Front Wing, 4-Element Rear Wing, Diffuser, and 2 Sidepods
                tr
                  td Suspension
                  td
                    | Independent unequal length chromoly A-arms, with pull rod actuated Cane Creek shocks
                tr
                  td Wheels
                  td
                    | In house centre design machined by Prototype Equipment Design with Kodiak 13×7 shells
                tr
                  td Engine
                  td Honda CBR 600 F4I with MegaSquirt ECM
                tr
                  td Power/Torque
                  td 95 HP @ 12500 RPM/54 ft·lbs @ 8250 RPM
                tr
                  td Fuel
                  td Pump 94 Octane
                tr
                  td Transmission
                  td 6-speed Sequential
                tr
                  td Shifter
                  td Electro-pneumatic, button actuated shifting system
                tr
                  td Final Drive
                  td #520 chain, 11:44 ratio
                tr
                  td Differential
                  td Custom aluminum carrier housing Zexel-Torsen torque biasing gears
                tr
                  td Brakes, Front
                  td Dual outboard 10.5" steel rotors, Brembo calipers
                tr
                  td Brakes, Rear
                  td Dual outboard 9.5" steel rotors, Brembo calipers
              thead
                tr
                  th Dimensions
                  th
              tbody
                tr
                  td Wheelbase
                  td 63″
                tr
                  td Track, Front/Rear
                  td 47.5″/44.5″
                tr
                  td Length
                  td 107.4″
                tr
                  td Weight
                  td 484 lbs
                tr
                  td Weight Distribution, Front:Rear
                  td 49.2:50.8
              thead
                tr
                  th Performance
                  th
              tbody
                tr
                  td 75 Metre Sprint
                  td 4.229 s
                tr
                  td Top Speed
                  td 180 km/h
                tr
                  td Lateral Grip
                  td 1.44 g
                tr
                  td Braking
                  td 1.6 g
        .col-lg-2
    .row
      .col-lg-2
      .col-lg-8
        section.widget.thumbnails
          .col-lg-3
            h3(style="font-weight:800;text-align: center;") 2013
            .col-lg-12.past-cars
              a(href='/car2013/')
                img(src='/img/car2013.jpg', alt='UV13')
          .col-lg-3
            h3(style="font-weight:800;text-align: center;") 2015
            .col-lg-12.past-cars
              a(href='/car2015/')
                img(src='/img/car2015.jpg', alt='UV15')
          .col-lg-3
            h3(style="font-weight:800;text-align: center;") 2016
            .col-lg-12.past-cars
              a(href='/car2016/')
                img(src='/img/car2016.jpg', alt='UV16')
          .col-lg-3
            h3(style="font-weight:800; text-align: center;") 2012
            .col-lg-12.past-cars
              a(href='/car2017/')
                img(src='/img/car2017.jpg', alt='UV17')
      .col-lg-2
  include _sponsors.jade
