extends _layout

block content
  link(rel='stylesheet', href='/css/car.css')
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team

              li.dropdown.front-page.active
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/car2017/') 2017 Car
                  li
                    a(href='/car2016/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page
                a(href='/comp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  // ABOUT THE CARS
  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        img.img-responsive(src='/img/car2012.jpg' style="object-fit:cover; max-height:600px; min-height:300px; width:100%;")
      .col-lg-2

    .row
      .col-lg-2
      .col-lg-8
        section.widget.thumbnails
          .col-lg-3
            h3(style="font-weight:800;text-align: center;") 2013
            .col-lg-12.past-cars
              a(href='/car2013/')
                img(src='/img/car2013.jpg', alt='UV13')
          .col-lg-3
            h3(style="font-weight:800;text-align: center;") 2014
            .col-lg-12.past-cars
              a(href='/car2014/')
                img(src='/img/car2014.jpg', alt='UV14')
          .col-lg-3
            h3(style="font-weight:800;text-align: center;") 2015
            .col-lg-12.past-cars
              a(href='/car2015/')
                img(src='/img/car2015.jpg', alt='UV15')
          .col-lg-3
            h3(style="font-weight:800;text-align: center;") 2016
            .col-lg-12.past-cars
              a(href='/car2016/')
                img(src='/img/Speedway_autocross/autoCross1.jpg', alt='UV16')
      .col-lg-2
  include _sponsors.jade
