extends _layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/car2017/') 2017 Car
                  li
                    a(href='/car2016/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page.active
                a(href='/comp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        img.img-responsive(src='/img/UV17/pano2.jpg' style="object-fit:cover; max-height:800px; min-height:300px; width:100%;")
      .col-lg-2
  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        h1.competition-main
          | Michigan FSAE Competition
        p.competition-description
          | Formula SAE is an international collegiate design competition focused on innovation and the development of
          | upcoming industry leaders. The premise of the competition is the development of a small Formula-style race
          | car that is intended for weekend autoX racing. Each team designs, builds, and tests a fully functional
          | prototype around competition rules to score the most points in each event. The competition consists of a
          | static portion and a dynamic portion. The static events consist of an evaluation by industry experts of
          | student designs, cost breakdown and a business case. The dynamics events focuses on vehicle and driver
          | performance with five track events.
          br
      .col-lg-2

    .row
      .col-lg-2
      .col-lg-4
        h1.competition-title
          | Design Presentation
        p.competition-description
          | In the design event, we demonstrate our process, theory, calculations and simulations to judges from the
          | motorsports, automotive, and aerospace industries. While exhibiting different vehicle aspects we explain
          | our design development, data collection and overall engineering approach for critical systems and components.

        h1.competition-title
          | Acceleration
        p.competition-description
          | The acceleration portion of this event consists of a 75 meter (246 foot) straight line track were the
          | vehicle is tested based on the elapsed time from start to finish.

        h1.competition-title
          | Skid Pad
        p.competition-description
          | The objective of the skid pad test is to test the vehicle’s lateral acceleration and consistent-radius
          | turning capabilities. Drivers direct the vehicle through a figure eight patterned track in the shortest
          | amount of time possible.

        h1.competition-title
          | Autocross
        p.competition-description
          | The autocross event tests the car and driver over numerous course types all in one track. The course includes straights, constant turns, hairpin turns, slaloms, chicanes, and multiple sequential turns. This event is scored based on the team's best elapsed time.

        h1.competition-title
          | Endurance and Efficiency
        p.competition-description
          | The endurance and efficiency event tests the vehicle’s durability, reliability, and efficiency over a 22km track. This track is similar to the autocross event, though requires two drivers who switch at the 11km point. Unlike the other events, the two drivers total lap times and fuel consumption are counted cumulatively towards a total score. This event is highest weighted event often considered the best evaluation of overall performance.
        h1.competition-title
          | Business Presentation
        p.competition-description
          | Our business team presents to a set of judges that evaluate the team’s business case. This case is based on the premise that we are an engineering team contracted by a manufacturing company to pitch our design and proposed marketing strategy for a weekend autocross racer. In this, we must show how the team’s plan can meet the demand of the target markets at a reasonable price.

        h1.competition-title
          | Cost Presentation
        p.competition-description
          | We present our cost report, which is a full cost estimate of materials and processes, based on standardized cost tables, that would be involved in an actual production run. This event encourages us to incorporate cost-effective design and manufacturing methods in the vehicle development.



      .col-lg-4(style="text-align: center;")
        img.img-responsive(src='/img/CompBreakdown.jpg' style="padding-bottom: 10px;")

        h1.competition-title
          | Current World Standings
        p
          | 1st Western Canada
        p
          | 4th Canada
        p
          | 18th North America
        p
          | 58th Worldwide

        h1.competition-title
          | Michigan 2016 Highlights
        p
          | 27th Overall
        p
          | 19th Efficiency
        p
          | 24th Endurance

        h1.competition-title
          | Michigan 2015 Highlights
        p
          | 20th Overall
        p
          | 11th Acceleration
        p
          | 20th Endurance
        p
          | 29th Autocross

        h1.competition-title
          | Michigan 2012 Highlights
        p
          | 22nd Cost
        p
          | 40th Skidpad
        p
          | 44th Design
        p
          | 45th Acceleration

        h1.competition-title
          | Michigan 2010 Highlights
        p
          | 78th Overall
        p
          | 41st Design
        p
          | 56th Cost
      .col-lg-2

  include _sponsors.jade
