extends _layout

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img(src='/img/logo.png' height="50px")
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right

              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/aboutteam/') The Team
              li.front-page
                a(href='/aboutcar/') The Car
              li.front-page.active
                a(href='/aboutcomp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  .container-fluid
    .row
      img.img-responsive(src='/img/Speedway_autocross/autoCross3.jpg' style="object-fit:cover; height:800px; width:100%;")
      .col-lg-2
      .col-lg-8
        h1.competition-main
          | Michigan FSAE Competition
        h4.competition-description
          | The michigan FSAE competition is an annual worldwide event that challenges university undergraduate and
          | graduate students to design and develop small formula vehicles. This event consists of static events and
          | dynamic events. The static events consist of presentations, the engineering design, and a cost analysis. The
          | dynamic events consist of five track events. These dynamic events are: acceleration, skid-pad, autocross,
          | efficiency, and endurance.

        h1.competition-title
          | Design Presentation
        h4.competition-description
          | Design is a important aspect of the Michigan competition. Judges evaluate the car design, design spec sheet,
          | and design report.

        h1.competition-title
          | Acceleration
        h4.competition-description
          | The acceleration portion of this event consists of a 75m straight line track were the vehicle is tested
          | based on the elapsed time from start to finish.

        h1.competition-title
          | Skid Pad
        h4.competition-description
          | The objective of the skid pad test is to test the vehicles consistent-radius turning capabilities using a
          | figure eight patterned track. Scoring for this test event is based on lateral acceleration and time elapsed.

        h1.competition-title
          | Auto Cross
        h4.competition-description
          | The auto cross event tests numerous course types all in one track. this track includes straights,
          | constant turns, hairpin turns, slaloms, chicanes, multiple turns, and many others.
          | This event is scored based on the team's best elapsed time.

        h1.competition-title
          | Endurance and Efficiency
        h4.competition-description
          | The endurance and efficiency event tests the cars durability, reliability, and efficiency of the vehicle,
          | using a 22km track. This track is similar to the auto cross event, and requires two drivers who switch at
          | the 11km point.

        h1.competition-title
          | Business Presentation
        h4.competition-description
          | Our business team presents to a set of judges that evaluate the teams business case. This case proves the
          | teams design meets the demand of different markets at a reasonable price.

        h1.competition-title
          | Cost Presentation
        h4.competition-description
          | This presentation covers a full vehicle bill of materials with cost data from cost tables.
      .col-lg-2
  include _sponsors.jade

