extends _layout

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img(src='/img/logo.png' height="50px")
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right

              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/aboutteam/') The Team
              li.front-page
                a(href='/aboutcar/') The Car
              li.front-page.active
                a(href='/aboutcomp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  .container-fluid
    .row
      img.img-responsive(src='/img/Speedway_autocross/autoCross3.jpg' style="object-fit:cover; height:800px; width:100%;")
      .col-lg-2
      .col-lg-8
        h1.competition-main
          | Michigan FSAE Competition

        h4.competition-description
          | Highlight the competition topics

        h1.competition-title
          | Design Presentation

        h4.competition-description
          | Design is a important aspect of the Michigan competition...

        h1.competition-title
          | Acceleration

        h4.competition-description
          | During acceleration...

        h1.competition-title
          | Skid Pad

        h4.competition-description
          | The skid pad portion of the competition consist of..

        h1.competition-title
          | Auto Cross

        h4.competition-description
          | Auto cross tests...

        h1.competition-title
          | Endurance

        h4.competition-description
          | Endurance tests the cars...

        h1.competition-title
          | Business Presentation

        h4.competition-description
          | Our business team....

        h1.competition-title
          | Cost Presentation

        h4.competition-description
          | This presentation...
      .col-lg-2
  include _sponsors.jade

