extends _layout

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img(src='/img/logo_invert.png' height="50px")
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Sponsors
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/becomeasponsor/') Become  Sponsor
                  li
                    a(href='/sponsors/') UV16 Sponsors
                  li
                    a(href='/indisponsors/') Individual Sponsors

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | About
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/aboutcar/') The Car
                  li
                    a(href='/render/') &nbsp;&nbsp;&nbsp;UV15 Render
                  li
                    a(href='/aboutteam/') The Team
                  li
                    a(href='/aboutcomp/') The Competition
              li.active.front-page
                a(href='/contact/') Contact

  //  Marketing messaging and featurettes
  //  ==================================================
  //  Wrap the rest of the page in another container to center all the content.
  .container
    .row
      h1(style="color:black;text-align:center;text-decoration:underline") Contact Us
      br
      .col-sm-4
        p
          | UVic Formula SAE
          br
          | Engineering Office Wing (EOW), Room 248
          br
          | University of Victoria
          br
          | 3800 Finnerty Road
          br
          | Victoria, BC, Canada
          br
          | V8W 3P6
      .col-sm-4
        p
          strong Phone:
          |  250 721-6014
          br
          strong Fax (EOW Office):
          |  250 721-8676
          br
          strong Office Location:
          |  Engineering Lab Wing (ELW) Room A108
          br
          strong E-Mail:
          |  "fsae (at) engr.uvic.ca"
      .col-sm-4
        p
          | Join us at one of our weekly meetings or at our shop at the bottom of parking lot 5 by University House 2.
          br
          br
          strong Weekly Meetings:
          |  Wednesdays at 6:30pm in Elliot building room 167

  include _socialmedia.jade
  include _sponsors.jade

