extends _layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/car2017/') 2017 Car
                  li
                    a(href='/car2016/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page
                a(href='/comp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page.active
                a(href='/contact/') Contact



  //  Marketing messaging and featurettes
  //  ==================================================
  //  Wrap the rest of the page in another container to center all the content.
  .container



    .row
      .col-sm-6(style="padding: 5px;")
        h3 UVic Formula Motorsport Office
        iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.6961546354405!2d-123.30944513394613!3d48.462359129250544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f71565056ec8b%3A0x729c851352353848!2sUVic+Formula+Motorsport+Office!5e0!3m2!1sen!2sca!4v1476986080249" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)
      .col-sm-6(style="padding: 5px;")
        h3 UVic Formula Motorsport Shop
        iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.6961546354405!2d-123.30944513394613!3d48.462359129250544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f715166f03833%3A0xdf15d61b8d5c067!2sUVic+Formula+Motorsport+Shop!5e0!3m2!1sen!2sca!4v1476986344779" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)


  .container
    .row
      .col-sm-4
        h2(style="color:black; font-weight:800;") Address
        p
          | UVic Formula SAE
          br
          | Engineering Office Wing (EOW), Room 248
          br
          | University of Victoria
          br
          | 3800 Finnerty Road
          br
          | Victoria, BC, Canada
          br
          | V8W 3P6
      .col-sm-4
        h2(style="color:black; font-weight:800;") Office
        p
          strong Phone:
          |  250 721-6014
          br
          strong Office Location:
          |  Engineering Lab Wing (ELW) Room A108
          br
          strong E-Mail:
          |  "fsae (at) engr.uvic.ca"
      .col-sm-4
        h2(style="color:black; font-weight:800;") Weekly Meetings
        p
          | Join us at one of our weekly meetings.
          br
          br
          strong Weekly Meetings:
          |  Wednesdays at 6:00pm in the Engineering and Computer Science building (ECS) room 104

  include _sponsors.jade
