extends _layout

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') UVic FSAE
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') Home
              li
                a(href='/sponsorship') Sponsorship

              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | About
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/about/car') The Car
                  li
                    a(href='/about/team') The Team
                  li
                    a(href='/about/comp') The Competition
              li.active
                a(href='/contact') Contact

  //  Marketing messaging and featurettes
  //  ==================================================
  //  Wrap the rest of the page in another container to center all the content.
  .container
    .row
      h2 Contact Us
      br
      .col-sm-4
        p
          | UVic Formula SAE
          br
          | University of Victoria
          br
          | 3800 Finnerty Road
          br
          | Engineering Deans Office ; Room 248
          br
          | Victoria, BC, Canada
          br
          | V8W 3P6
      .col-sm-4
        p
          strong Phone:
          |  250 721-6014
          br
          strong Fax (EOW Office):
          |  250 721-8676
      .col-sm-4
        p
          | Join us at one of our weekly meetings in the Engineering and Computer Science Building or at our shop at the bottom of parking lot 5 by University House 2.
          strong Weekly Meetings:
          |  Tuesdays at 8pm in ECS 124

  br
  .row(style='margin-left:20%;margin-right:20%')
    .col-xs-6.col-sm-3(style='margin-bottom:10px')
      a.btn.btn-block.btn-social.btn-twitter.social-media-button(href="https://twitter.com/uvicfsae")
        span.fa.fa-twitter
        |  Twitter
    .col-xs-6.col-sm-3(style='margin-bottom:10px')
      a.btn.btn-block.btn-social.btn-facebook.social-media-button(href="https://www.facebook.com/UVicFSae/")
        span.fa.fa-facebook
        |  Facebook
    .col-xs-6.col-sm-3(style='margin-bottom:10px')
      a.btn.btn-block.btn-social.btn-instagram.social-media-button(href="https://www.instagram.com/uvicfsae/")
        span.fa.fa-instagram
        |  Instagram
    .col-xs-6.col-sm-3(style='margin-bottom:10px')
      a.btn.btn-block.btn-social.btn-flickr.social-media-button(href="https://www.flickr.com/photos/uvicfsae/albums")
        span.fa.fa-flickr
        |  Flickr


  .row(style='margin-left:15%;margin-right:15%')
    .col-md-12
      h5
        | The UVic Formula Motorsport team is made up of Engineering, Business, Computer Science, and other students from the University of Victoria who collaborate to design and build an open wheel race car. They compete annually in the world's largest collegiate design competition, Formula SAE (Society of Automotive Engineers). A few hundred pages of rules provide restrictions, ensuring both safety and fairness, much like professional racing and industry.
      h5
        | The competition puts all aspects of the cars to the test, through both static and dynamic events. The static events evaluate the design, cost analysis, and marketing plan, so careful preparation is imperative. Four dynamic events (acceleration, skid pad, autocross, and endurance) test the car's performance and reliability.
      h4(style="text-align:center")
        | Please <a href="#">Contact Us</a> if you want to know more!


  hr
  .container.marketing
    // Three columns of text below the carousel
    .row
      //col-lg-6
      .col-lg-4
        a(href='http://www.r410.ca/')
          img.img-rounded(src='img/sponsors/r-410_sm.png', alt='Generic placeholder image', height='80')
        //- img.img-rounded(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h3 R-410 Holdings
        p
          | Carbon fibre and composite materials.
        p
          a.btn.btn-default(href='http://www.r410.ca/', role='button') Website

      //col-lg-3
      .col-lg-4
        a(href='http://engineersmachineshop.ca')
          img.img-rounded(src='img/sponsors/prototypeequip_lg.png', alt='Generic placeholder image', width='350', height='80')
        //- img.img-rounded(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h3 Prototype Equipment Design
        p
          | Built the torsion T1 for our car.
        p
          a.btn.btn-default(href='http://engineersmachineshop.ca/', role='button') Website

      //col-lg-3
      .col-lg-4
        a(href='http://eaglemachine.ca/')
          img.img-rounded(src='img/sponsors/eaglemach_lg.jpg', alt='Generic placeholder image', height='80')
        //- img.img-rounded(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h3 Eagle Machine Inc.
        p
          | High precision gear cutting and engine manufacturing.
        p
          a.btn.btn-default(href='http://eaglemachine.ca/', role='button') Website



    //- // START THE FEATURETTES
    //- hr.featurette-divider
    //- .row.featurette
    //-   .col-md-7.col-md-push-5
    //-     h2.featurette-heading
    //-       | Oh yeah, it's that good.
    //-       span.text-muted See for yourself.
    //-     p.lead
    //-       | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    //-   .col-md-5.col-md-pull-7
    //-     img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    //- hr.featurette-divider
    //- .row.featurette
    //-   .col-md-7
    //-     h2.featurette-heading
    //-       | And lastly, this one.
    //-       span.text-muted Checkmate.
    //-     p.lead
    //-       | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    //-   .col-md-5
    //-     img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    //- hr.featurette-divider
    //- // /END THE FEATURETTES
    // FOOTER
    footer
      p.pull-right
        a(href='#') Back to top
      p(align="center")
        | © 2015 UVic Formula Motorsport. All Rights Reserved ·
        //- a(href='#') Privacy
        //- |  ·
        //- a(href='#') Terms
  // /.container
