extends _layout

block content
  header
    .container-fluid(style="background-color: black; color:#ffffff; height:auto;")
      .row
        .col-xs-6
          h5(style="color:white;")
            | 250 721-6014 | fsae (at) engr.uvic.ca
        .col-xs-6.social-icons-banner(style="padding-right: 18px;")
          a(href='https://www.flickr.com/photos/uvicfsae/albums/')
            img(src='/img/icons/Flickr-color-lg.png')
          a(href='https://www.youtube.com/channel/UCZs6NRtl950DlijfmLDGZ0Q')
            img(src='/img/icons/Youtube-color.png')
          a(href='https://twitter.com/uvicfsae')
            img(src='/img/icons/Twitter-color-lg.png')
          a(href='https://www.facebook.com/UVicFSae/')
            img(src='/img/icons/Facebook-color-lg.png')

  .nav-wrapper
    nav.navbar.navbar-default(data-spy="affix" data-offset-top="45" style='margin-bottom:0px;')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/aboutteam/') The Team

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/aboutcar/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page
                a(href='/aboutcomp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page.active
                a(href='/contact/') Contact



  //  Marketing messaging and featurettes
  //  ==================================================
  //  Wrap the rest of the page in another container to center all the content.
  .container

    h3 UVic Formula Motorsport Office
      #map
      script.
        function initMap() {
          var myLatLng = {lat: 48.461307, lng: -123.310592};
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            center: myLatLng,
            zoom: 18
          });
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
          });
        }
      script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA9C4zX-ERSuetiXR_hFtHX3qdCTZiaKac&callback=initMap')
  .container
    .row
      .col-sm-4
        h2(style="color:black; font-weight:800;") Address
        p
          | UVic Formula SAE
          br
          | Engineering Office Wing (EOW), Room 248
          br
          | University of Victoria
          br
          | 3800 Finnerty Road
          br
          | Victoria, BC, Canada
          br
          | V8W 3P6
      .col-sm-4
        h2(style="color:black; font-weight:800;") Office
        p
          strong Phone:
          |  250 721-6014
          br
          strong Office Location:
          |  Engineering Lab Wing (ELW) Room A108
          br
          strong E-Mail:
          |  "fsae (at) engr.uvic.ca"
      .col-sm-4
        h2(style="color:black; font-weight:800;") Weekly Meetings
        p
          | Join us at one of our weekly meetings.
          br
          br
          strong Weekly Meetings:
          |  Wednesdays at 7:30pm in the Engineering and Computer Science building (ECS) room 104

  include _sponsors.jade

