extends _layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/aboutteam/') The Team

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/aboutcar/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page
                a(href='/aboutcomp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  h1= message
  h2= error.status
  pre #{error.stack}
