extends _layout

// Nav Bar
//====================================================================================================================
block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page.active
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded="false")
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/car2017/') 2017 Car
                  li
                    a(href='/car2016/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page
                a(href='/comp/') The Competition
              li.front-page
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  //Carousel
  //====================================================================================================================

  #myCarousel.carousel.slide(data-ride='carousel' data-interval="8000" style='margin-bottom:0px; margin-top:0px; height:50%; padding: 0px -15px;')
    //- Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
      li(data-target='#myCarousel', data-slide-to='5')
    .carousel-inner(role='listbox')
      .item.uvic-carousel.active
        img.first-slide(src='/img/UV16/img2zoomed.jpg', alt='First slide', style="object-fit: cover; height: 800px;")
      .item.uvic-carousel
        img.first-slide(src='/img/UV16/img3.jpg', alt='Second slide', style="object-fit:cover; height: 800px;")
      .item.uvic-carousel
        img.first-slide(src='/img/buildpic1.jpg', alt='Third slide', style="object-fit:cover; height: 800px;")
      .item.uvic-carousel
        img.first-slide(src='/img/slide3.jpg', alt='Forth slide', style="object-fit:cover; height: 800px;")
      .item.uvic-carousel
        img.first-slide(src='/img/2016_render.jpg', alt='Fifth slide', style="object-fit:cover; height: 800px;")
      .item.uvic-carousel
        img.first-slide(src='/img/car2015.jpg', alt='Sixth slide', style="object-fit:cover; height: 800px;")

    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next

  //Index Text
  //====================================================================================================================
  .container-fluid
    .row
        .col-xs-2
        .col-lg-4
          .row
            .col-lg-12
              a(href='https://www.indiegogo.com/projects/gm-partnered-uvic-vehicle-development-fund-engineering/x/16283489' target="_blank").darken
                img.img-responsive(src='/img/sponsorus.jpg', height='400', style="width: 100%; margin: 30px 0 0 0;")
                h3.overtext Crowd Funding Initiative
          .row
            .col-lg-12
              a(href='/comp/').darken
                img.img-responsive(src='/img/Speedway_autocross/autoCross1.jpg', height='400', style="width: 100%; margin: 30px 0 0 0;")
                h3.overtext What We Do
          .row
            .col-lg-12
              a(href='/team/').darken
                img.img-responsive(src='/img/teamAtWork.jpg', height='400', style="width: 100%; margin: 30px 0 0 0;")
                h3.overtext Our Team
        .col-lg-4

          // Facebook Feed
          .fb-page(data-href='https://www.facebook.com/UVicFSae/', data-tabs='timeline', data-small-header='false',
          data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', data-height='835', data-width='500', style="display:block; margin: 30px auto;")
            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/UVicFSae/')
              a(href='https://www.facebook.com/UVicFSae/') UVic Formula Motorsport

        .col-xs-2


  include _sponsors.jade
