extends _layout

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img(src='/img/logo_invert.png' height="50px")
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.dropdown.active.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Sponsors
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/becomeasponsor/') Become a Sponsor
                  li
                    a(href='/sponsors/') UV16 Sponsors
                  li.active
                    a(href='/indisponsors/') Individual Sponsors

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | About
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/aboutcar/') The Car
                  li
                    a(href='/render/') &nbsp;&nbsp;&nbsp;UV15 Render
                  li
                    a(href='/aboutteam/') The Team
                  li
                    a(href='/aboutcomp/') The Competition
              li.front-page
                a(href='/contact/') Contact

  include _socialmedia.jade



  // $1500
  div(style="padding-bottom:20px",width="100%")
    .container.marketing
      br
      br
      .row
        .col-sm-1
        .col-sm-7.sponsors
          .row
            .col-xs-12
              a.btn.btn-block.btn-social.btn-vk.social-media-button(href="https://www.indiegogo.com/projects/uvic-formula-motorsport/ " style="text-align:center;")
                | Check out the Indiegogo Campaign!
              br
              h1(style="color:black;text-align:center;")
                strong Thank you to our Backers!
              hr
            .col-xs-12(style="margin:0 auto;" align="center")
              table(style="color:black;text-align:right;")
                tr
                  td
                    h3 $550
                  td(style="text-align:center;")
                    h3 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h3 davehay7
                tr
                  td
                    h4 $100
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 tony99
                tr
                  td
                    h4 $100
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 Arlene Wandl
                tr
                  td
                    h4 $100
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 don.maureen
                tr
                  td
                    h4 $100
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 per.angman
                tr
                  td
                    h4 $100
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 ogil4.ddmc
                tr
                  td
                    h4 $100
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 atura
                tr
                  td
                    h4 $69
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 Anonymous
                tr
                  td
                    h4 $50
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 rayyearley
                tr
                  td
                    h4 $50
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 drballenbc
                tr
                  td
                    h4 $50
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 rouin09
                tr
                  td
                    h4 $50
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 diburst.mars
                tr
                  td
                    h4 $50
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 catherinebradley
                tr
                  td
                    h4 $25
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 asw_2
                tr
                  td
                    h4 $25
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 milbec
                tr
                  td
                    h4 $10
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 greg.loudon
                tr
                  td
                    h4 Private
                  td(style="text-align:center;")
                    h4 &nbsp;&nbsp;-&nbsp;&nbsp;
                  td(style="text-align:left;")
                    h4 Alan Scarth
        .col-sm-4
          .row
            <iframe src="https://www.indiegogo.com/project/uvic-formula-motorsport/embedded" width="222px" height="445px" style="display:block;margin:0 auto" frameborder="0" scrolling="no"></iframe>
