extends _layout

block content
  header
  .nav-wrapper
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' style='margin-bottom:0px;')
            img(src='/img/logo.png' height="55px")
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.front-page
                a(href='/team/') The Team

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | The Car
                  span
                ul.dropdown-menu
                  li
                    a(href='/car2017/') 2017 Car
                  li
                    a(href='/car2016/') 2016 Car
                  li
                    a(href='/car2015/') 2015 Car
                  li
                    a(href='/car2014/') 2014 Car
                  li
                    a(href='/car2013/') 2013 Car
                  li
                    a(href='/car2012/') 2012 Car

              li.front-page
                a(href='/comp/') The Competition
              li.front-page.active
                a(href='/sponsors/') Sponsorship
              li.front-page
                a(href='/contact/') Contact

  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        img.img-responsive(src='/img/sponsorpage/package2edit.jpg' style="object-fit:cover; max-height:600px; min-height:300px; width:100%;")
      .col-lg-2

  .container-fluid
    .row
      .col-lg-2
      .col-lg-8
        h1(style="font-weight:800; font-size: 60px; text-align: center;")
          | Sponsorship
        p
          | In order to complete a vehicle every year, we rely on donations and sponsorship from local, national, and
          | international partners. We focus our expenses on necessary components like the frame, registration, tires,
          | materials, and any improvements that yield the largest benefit for their cost.
          | Though we have a lower budget than other top tier teams, we are able to continually improve our designs as we
          | receive more contributions and as we improve as experienced students.
        p
          | We would like to thank all of our current sponsors, and any new sponsors for your contributions.
          | By sponsoring our team, you not only allow us to continue to do what we love, but also allow the team to reach
          | new levels. Each year we promote an experienced team who develop into industry leading engineers.
          | All of this  would not be possible without your support.
        p
          | If you are interested in partnering with UVic Formula Motorsport, please contact us at
          | uvic.fsae (at) gmail.com
      .col-lg-2


  // Current Sponsors Title

  // PLATINUM



  .sponsorship
    div
      .container-fluid

        .row
          .col-lg-12
            h1
              | Platinum Sponsors
              //img(src="/img/sponsors/logos/platinum.png")
        hr
      .container-fluid.sponsors
        .row
          .col-lg-2
          .col-lg-8.platinumsponsor
            p(style="color:black;text-align:center;")
              a(href='http://www.crp-usa.net/' target="_blank")
                img.img-responsi(src='/img/sponsors/crpusa_med.jpg')
              a(href='http://eaglemachine.ca/' target="_blank")
                img.img-responsive(src='/img/sponsors/eaglemach_lg.jpg')
              a(href='http://engineersmachineshop.ca' target="_blank").platspecial
                img.img-responsive(src='/img/sponsors/prototypeequip_lg.png')
          .col-lg-2

    // GOLD
    div
      .container-fluid
        .row
          .col-lg-12
            h1
              | Gold Sponsors
              //img(src="/img/sponsors/logos/gold.png")
            hr
      .container-fluid.sponsors
        .row
          .col-lg-2
          .col-lg-8.goldsponsor
            p(style="color:black;text-align:center;")
              a(href='http://honda.ca' target="_blank")
                img(src='/img/sponsors/honda_med.png')
              a(href='https://www.uvic.ca/engineering/' target="_blank")
                img(src='/img/sponsors/uvicengr_med.jpg')
              a(href='http://ess.uvic.ca/' target="_blank")
                img(src='/img/sponsors/uvicess_med.jpg')
              a(href='http://www.r410.ca/' target="_blank")
                img(src='/img/sponsors/r-410_sm.png')
              a.silversmall
                img.img-responsive(src='/img/sponsors/foremancnc_med.png')
          .col-lg-2

    // SILVER
    div
      .container-fluid
        .row
          .col-lg-12
            h1
              | Silver Sponsors
              //img(src="/img/sponsors/logos/silver.png")
            hr
      .container-fluid.sponsors
        .row
          .col-lg-2
          .col-lg-8.silversponsor
            p(style="color:black;text-align:center;")
              a(href='http://altium.com' target="_blank")
                img(src='/img/sponsors/altium_med.jpg')
              a(href='http://www.solidworks.com/' target="_blank")
                img(src='/img/sponsors/solidworks_sm2.png')
              a(href='http://www.passionsports.ca/' target="_blank")
                img(src='/img/sponsors/passionsports_sm.jpg')
              a(href='http://www.liferacing.com/' target="_blank")
                img(src='/img/sponsors/liferacing_lg.png')
              a(href='http://vmacair.com/' target="_blank").silversmall
                img(src='/img/sponsors/vmac_lg.jpg')
              a(href='http://mdx.plm.automation.siemens.com/' target="_blank")
                img(src='/img/sponsors/Siemens_lg.jpg')
              a(href='http://atticusfinancial.com/' target="_blank")
                img(src='/img/sponsors/atticus-sm.png')
              a(href='http://www.seastarsolutions.com/' target="_blank")
                img(src='/img/sponsors/seastar_sm.png')
              a(href='http://www.skf.com/ca/en/index.html' target="_blank")
              img(src='/img/sponsors/SKFcorp_sm.png' style="height:40px;")
          .col-lg-2

    // BRONZE
    div
      .container-fluid
        .row
          .col-lg-12
            h1
              | Bronze Sponsors
              //img(src="/img/sponsors/logos/bronze.png")
            hr
      .container-fluid.sponsors
        .row
          .col-lg-2
          .col-lg-8.bronzesponsor
            p(style="color:black;text-align:center;")
              a(href='http://www.gtisoft.com/' target="_blank")
                img(src='/img/sponsors/gammatech_lg.jpg')
              a(href='http://apeg.bc.ca' target="_blank")
                img(src='/img/sponsors/apeg_sm.jpg')
              a(href='https://www.flowdock.com/' target="_blank")
                img(src='/img/sponsors/flowdock_sm.jpeg')
              a(href='http://www.lordco.com/' target="_blank").bspecial
                img(src='/img/sponsors/lordco_sm.jpg').bspecial
              a(href='http://camosun.ca/' target="_blank")
                img(src='/img/sponsors/camosun_sm.png')
              a(href='http://alumni.uvic.ca' target="_blank")
                img(src='/img/sponsors/uvicalum_lg.jpg')
              a(href='http://www.racequip.com/' target="_blank")
                img(src='/img/sponsors/racequip_sm.jpg')
              a(href='https://www.holley.com/' target="_blank")
                img(src='/img/sponsors/holley-comb_sm.jpg')
              a(href='http://www.mitutoyo.ca/' target="_blank")
                img(src='/img/sponsors/mitutoyo_med.jpg')
              a(href='https://www.carsim.com' target="_blank")
                img(src='/img/sponsors/mscorp_sm.png')
              a(href='http://action-motorcycles.com/' target="_blank")
                img(src='/img/sponsors/actionmoto_sm.png')
              a(href='http://www.cloverdalepaint.com/' target="_blank")
                img(src='/img/sponsors/cloverdale_md.png')
          .col-lg-2

    // STEEL
    div
      .container-fluid
        .row
          .col-lg-12
            h1
              | Steel Sponsors
              //img(src="/img/sponsors/logos/steel.png")
            hr
      .container-fluid.sponsors
        .row
          .col-lg-2
          .col-lg-8.steelsponsor
            p(style="color:black;text-align:center;")
              a(href='http://www.waytekwire.com/' target="_blank")
                img(src='/img/sponsors/waytek_sm.png')
              a(href='http://metalsupermarkets.ca' target="_blank")
                img(src='/img/sponsors/metalsuper_lg.jpg')
              a(href='http://schaeffler.com' target="_blank")
                img(src='/img/sponsors/schaeffler_lg.jpg')
              a(href='http://cartesiantube.com' target="_blank")
                img(src='/img/sponsors/cartesian_lg.jpg')
              a(href='http://www.mongoosemachine.com/' target="_blank")
                img(src='/img/sponsors/mongoose_sm.png')
              a(href='http://www.wirecare.com/' target="_blank")
                img.wirecare(src='/img/sponsors/wirecare_sm.jpeg')
              a(href='http://www.metalsandplastics.ca/' target="_blank")
                img(src='/img/sponsors/genmetal_sm.jpg')
              a(href='http://www.texense.com/en/' target="_blank")
                img(src='/img/sponsors/texense_sm.jpg')
              a(href='http://www.dynatune-xl.com/' target="_blank")
                img(src='/img/sponsors/dynatune_sm.png')
              a(href='http://www.calspan.com/' target="_blank").steelspecial-2nd
                img(src='/img/sponsors/calspan_sm.png')
              a(href='http://www.anotekanodizing.com/' target="_blank")
                img(src='/img/sponsors/anotekano_sm.gif')
              a(href='https://www.hoosiertire.com/' target="_blank")
                img(src='/img/sponsors/hoosier_sm.jpg')
              a(href='http://www.corsa-technic.com/' target="_blank").steelspecial
                img(src='/img/sponsors/corsatech_sm.gif')
              a(href='http://www.watsongloves.com/' target="_blank")
                img(src='/img/sponsors/watson_sm.jpg')
              a(href='http://www.westernspeedway.net/' target="_blank")
                img(src='/img/sponsors/western_med.png')
              a(href='http://www.aurorabearing.com/index.html' target="_blank")
                img(src='/img/sponsors/aurora_sm.jpg')
              a(href='https://www.crracing.com/' target="_blank")
                img(src='/img/sponsors/crracing_sm.png')
              a(href='http://www.mastercam.com/en-us/' target="_blank").steelspecial-2nd
                img(src='/img/sponsors/mastercam_lg.jpg')
          .col-lg-2
