extends _layout

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img(src='/img/logo_invert.png' height="50px")
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.front-page
                a(href='/') Home
              li.dropdown.active.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Sponsors
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/becomeasponsor/') Become a Sponsor
                  li.active
                    a(href='/sponsors/') UV16 Sponsors
                  li
                    a(href='/indisponsors/') Individual Sponsors

              li.dropdown.front-page
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | About
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/aboutcar/') The Car
                  li
                    a(href='/render/') &nbsp;&nbsp;&nbsp;UV15 Render
                  li
                    a(href='/aboutteam/') The Team
                  li
                    a(href='/aboutcomp/') The Competition
              li.front-page
                a(href='/contact/') Contact

  //- include _socialmedia.jade

  div(style="box-shadow: 0px 10px 14px rgba(0,0,0,0.4);margin-bottom:10px;margin-top:20px;padding-bottom:20px",width="100%")
    .container.marketing
      .row
        .col-sm-12.sponsors
          .row
            .col-xs-12
              h1(style="color:black;text-align:center;")
                img(src="/img/sponsors/logos/title.png" style="border-radius:30px;box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.65);max-height:100px")
              hr
            .col-xs-12.titlesponsor
              h1(style="color:black;text-align:center;")
                | This could be you!
              br
              br



  // TITLE
  //- div(style="box-shadow: 0px 10px 14px rgba(0,0,0,0.4);margin-bottom:10px;margin-top:20px;",width="100%")
  //-   .container.marketing.sponsors
  //-     .row
  //-       .col-xs-12
  //-         h1(style="color:black;text-align:center;")
  //-           img(src="/img/sponsors/logos/title.png" style="border-radius:30px;box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.65);max-height:100px")
  //-         hr
  //-       .col-xs-12.titlesponsor
  //-         h1(style="color:black;text-align:center;")
  //-           | This could be you!
  //-         br
  //-         br

  // PLATINUM
  div(style="box-shadow: 0px 10px 14px rgba(0,0,0,0.4);margin-bottom:10px;",width="100%")
    .container.marketing.sponsors
      .row
        .col-xs-12
          h1(style="color:black;text-align:center;")
            img(src="/img/sponsors/logos/platinum.png")
          hr
        .col-xs-12.platinumsponsor
          p(style="color:black;text-align:center;")
            a(href='http://www.crp-usa.net/' target="_blank")
              img(src='/img/sponsors/crpusa_med.jpg')
            a(href='http://eaglemachine.ca/' target="_blank")
              img(src='/img/sponsors/eaglemach_lg.jpg')
            a(href='http://engineersmachineshop.ca' target="_blank").platspecial
              img(src='/img/sponsors/prototypeequip_lg.png')
            



  // GOLD
  div(style="box-shadow: 0px 10px  14px rgba(0,0,0,0.4);margin-bottom:10px;",width="100%")
    .container.marketing.sponsors
      .row
        .col-xs-12
          h1(style="color:black;text-align:center;")
            img(src="/img/sponsors/logos/gold.png")
          hr
        .col-xs-12.goldsponsor
          p(style="color:black;text-align:center;")
            a(href='http://honda.ca' target="_blank")
              img(src='/img/sponsors/honda_med.png')
            a(href='https://www.uvic.ca/engineering/' target="_blank")
              img(src='/img/sponsors/uvicengr_med.jpg')
            a(href='http://ess.uvic.ca/' target="_blank")
              img(src='/img/sponsors/uvicess_med.jpg')
            a.silversmall
              img(src='/img/sponsors/foremancnc_med.png')
            a(href='http://www.r410.ca/' target="_blank")
              img(src='/img/sponsors/r-410_sm.png')

  // SILVER
  div(style="box-shadow: 0px 10px  14px rgba(0,0,0,0.4);margin-bottom:10px;",width="100%")
    .container.marketing.sponsors
      .row
        .col-xs-12
          h1(style="color:black;text-align:center;")
            img(src="/img/sponsors/logos/silver.png")
          hr
        .col-xs-12.silversponsor
          p(style="color:black;text-align:center;")
            a(href='http://www.adriennesteagarden.com/' target="_blank").silverspecial
              img(src='/img/sponsors/adrienne_med.jpg')
            a(href='http://altium.com' target="_blank")
              img(src='/img/sponsors/altium_med.jpg')
            a(href='http://www.solidworks.com/' target="_blank")
              img(src='/img/sponsors/solidworks_sm2.png')
            a(href='http://www.passionsports.ca/' target="_blank")
              img(src='/img/sponsors/passionsports_sm.jpg')
            a(href='http://www.liferacing.com/' target="_blank")
              img(src='/img/sponsors/liferacing_lg.png')
            a(href='http://vmacair.com/' target="_blank").silversmall
              img(src='/img/sponsors/vmac_lg.jpg')
            a(href='http://www.cd-adapco.com/' target="_blank")
              img(src='/img/sponsors/CD-adapco_lg.jpg')
            a(href='http://atticusfinancial.com/' target="_blank").silversmall
              img(src='/img/sponsors/atticus-sm.png')


  // BRONZE
  div(style="box-shadow: 0px 10px  14px rgba(0,0,0,0.4);margin-bottom:10px;",width="100%")
    .container.marketing.sponsors
      .row
        .col-xs-12
          h1(style="color:black;text-align:center;")
            img(src="/img/sponsors/logos/bronze.png")
          hr
        .col-xs-12.bronzesponsor
          p(style="color:black;text-align:center;")
            a(href='http://www.gtisoft.com/' target="_blank")
              img(src='/img/sponsors/gammatech_lg.jpg')
            a(href='http://apeg.bc.ca' target="_blank")
              img(src='/img/sponsors/apeg_sm.jpg')
            a(href='https://www.flowdock.com/' target="_blank")
              img(src='/img/sponsors/flowdock_sm.jpeg')
            a(href='http://www.lordco.com/' target="_blank")
              img(src='/img/sponsors/lordco_sm.jpg')
            a(href='http://camosun.ca/' target="_blank")
              img(src='/img/sponsors/camosun_sm.png')
            a(href='http://alumni.uvic.ca' target="_blank")
              img(src='/img/sponsors/uvicalum_lg.jpg')
            a(href='http://www.racequip.com/' target="_blank")
              img(src='/img/sponsors/racequip_sm.jpg')
            a(href='https://www.holley.com/' target="_blank")
              img(src='/img/sponsors/holley-comb_sm.jpg')
            a(href='http://www.mitutoyo.ca/' target="_blank")
              img(src='/img/sponsors/mitutoyo_med.jpg')
            a(href='http://www.seastarsolutions.com/' target="_blank")
              img(src='/img/sponsors/seastar_sm.png')
            a(href='https://www.carsim.com' target="_blank")
              img(src='/img/sponsors/mscorp_sm.png')
            a(href='http://action-motorcycles.com/' target="_blank")
              img(src='/img/sponsors/actionmoto_sm.png')


  // STEEL
  div(style="margin-bottom:10px;",width="100%")
    .container.marketing.sponsors(style="margin-bottom:10px;",width="100%")
      .row
        .col-xs-12
          h1(style="color:black;text-align:center;")
            img(src="/img/sponsors/logos/steel.png")
          hr
        .col-xs-12.steelsponsor
          p(style="color:black;text-align:center;")
            a(href='http://www.waytekwire.com/' target="_blank")
              img(src='/img/sponsors/waytek_sm.png')
            a(href='http://metalsupermarkets.ca' target="_blank")
              img(src='/img/sponsors/metalsuper_lg.jpg')
            a(href='http://schaeffler.com' target="_blank")
              img(src='/img/sponsors/schaeffler_lg.jpg')
            a(href='http://cartesiantube.com' target="_blank")
              img(src='/img/sponsors/cartesian_lg.jpg')
            a(href='http://www.mongoosemachine.com/' target="_blank")
              img(src='/img/sponsors/mongoose_sm.png')
            a(href='http://www.wirecare.com/' target="_blank")
              img.wirecare(src='/img/sponsors/wirecare_sm.jpeg')
            a(href='http://www.metalsandplastics.ca/' target="_blank")
              img(src='/img/sponsors/genmetal_sm.jpg')
            a(href='http://www.texense.com/en/' target="_blank")
              img(src='/img/sponsors/texense_sm.jpg')
            a(href='http://www.dynatune-xl.com/' target="_blank")
              img(src='/img/sponsors/dynatune_sm.png')
            a(href='http://www.calspan.com/' target="_blank").steelspecial
              img(src='/img/sponsors/calspan_sm.png')
            a(href='http://www.anotekanodizing.com/' target="_blank")
              img(src='/img/sponsors/anotekano_sm.gif')
            a(href='https://www.hoosiertire.com/' target="_blank")
              img(src='/img/sponsors/hoosier_sm.jpg')
            a(href='http://www.corsa-technic.com/' target="_blank").steelspecial
              img(src='/img/sponsors/corsatech_sm.gif')
            a(href='http://www.watsongloves.com/' target="_blank")
              img(src='/img/sponsors/watson_sm.jpg')
            a(href='http://www.westernspeedway.net/' target="_blank")
              img(src='/img/sponsors/western_med.png')
            a(href='http://www.aurorabearing.com/index.html' target="_blank")
              img(src='/img/sponsors/aurora_sm.jpg')
            a(href='https://www.crracing.com/' target="_blank")
              img(src='/img/sponsors/crracing_sm.png')
            a(href='http://www.mastercam.com/en-us/' target="_blank").steelspecial
              img(src='/img/sponsors/mastercam_lg.jpg')


