extends _layout

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img(src='/img/logo_invert.png' height="50px")
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') Home
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Sponsors
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/becomeasponsor/') Become a Sponsor
                  li
                    a(href='/sponsors/') UV16 Sponsors

              li.dropdown.active
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | About
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/aboutcar/') The Car
                  li.active
                    a(href='/aboutteam/') The Team
                  li
                    a(href='/aboutcomp/') The Competition
              li
                a(href='/contact/') Contact


  .container.marketing
    .row
      .col-xs-12
        h1(style="color:black;text-align:center;text-decoration:underline") System Leads
        br
        br
      .col-lg-2
      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Shae.jpg', alt='Shae Pazdernik', width='180', height='180')
        h2 Shae Pazdernik
        h4
          strong
            | Project Manager
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Project Management
          br
          | Team Coordination
          br
          | Time Management

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Nick.jpg', alt='Nick Schwaiger', width='180', height='180')
        h2 Nick Schwaiger
        h4
          strong
            | Technical Team Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Tecnical Project Consultation
          br
          | Team Coordination
          br
          | System Integration
      .col-lg-2

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Brady.jpg', alt='Brady Planden', width='140', height='140')
        h2 Brady Planden
        h4
          strong
            | Powertrain Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Engine Performance Design
          br
          | ECU Calibration
          br
          | Traction & Launch Control

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Matt.jpg', alt='Matt Cameron', width='140', height='140')
        h2 Matt Cameron
        h4
          strong
            | Aero & Body Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Vehicle Aerodynamics
          br
          | Composites
          br
          | Aesthetics

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Neil.jpg', alt='Neil McLagan', width='140', height='140')
        h2 Neil McLagan
        h4
          strong
            | Vehicle Dynamics Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Vehicle Dynamics Simulation
          br
          | Suspension Design and Manufacturing
          br
          | Tire Modelling

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Thomas.jpg', alt='thomas Ziebarth', width='140', height='140')
        h2 Thomas Ziebarth
        h4
          strong
            | Electrical Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | ECU & DAQ
          br
          | Emergency Shut Offs
          br
          | Batteries

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Peter.jpg', alt='Peter de Schepper', width='140', height='140')
        h2 Peter de Schepper
        h4
          strong
            | Driver Controls Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Steering, Braking, & Shifting
          br
          | Data Analysis
          br
          | Driver Training

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Jakob.jpg', alt='Jakob Roberts', width='140', height='140')
        h2 Jakob Roberts
        h4
          strong
            | Software Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Website & Data Management
          br
          | HPC Access
          br
          | DAQ

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Wilson.jpg', alt='Wilson Hay', width='140', height='140')
        h2 Wilson Hay
        h4
          strong
            | Fluids Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Lubrication
          br
          | Radiator & Cooling
          br
          | Fuel

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Ioannis.jpg', alt='Ioannis Salsman', width='140', height='140')
        h2 Ioannis Salsman
        h4
          strong
            | Drivetrain Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Differential
          br
          | Final Drive
          br
          | Drive Axles

      .col-md-6.col-lg-4.teambox
        img.img-circle.teampic(src='/img/team/Carson.jpg', alt='Carson Milberg', width='140', height='140')
        h2 Carson Milberg
        h4
          strong
            | Business Lead
        hr(style="margin-top:0;margin-bottom:0;")
        p
          | Sponsorship
          br
          | External Relations
          br
          | Grant Acquisition


  //- include _socialmedia.jade
  include _sponsors.jade


  hr
  // FOOTER
  footer
    p(align="center")
      | © 2015 UVic Formula Motorsport. All Rights Reserved
