table
{
    width: 100%;
}

table.default
{
    width: 100%;
}

table.default tr
{
    border-top: solid 1px #eee;
}

table.default tr:first-child
{
    border-top: 0;
}

table.default td
{
    padding: 0.5em 1em 0.5em 1em;
}

table.default th
{
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: 800;
    margin: 0 0 0.25em 0;
}

table.default thead
{
    background: #404248;
    color: #fff;
}

table.default tfoot
{
}

table.default tbody
{
}
