/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ GENERAL CSS FOR PAGE/FONT ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}

.sponsorship .container-fluid {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.pic-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE TITLE CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.titleImg {
    background-color: black;
}

.titleImg img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    opacity: .5;
    position: relative;
}

.titleImg h1 {
    width: 100%;
    position: absolute;
    font-size: 90px;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    text-align: center;
    top: 90px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV BAR CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/*
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
*/

.navbar-default {
    background-color: white;
    border-radius: 0 !important;
    border-bottom: 2px solid lightgray !important;
    width: 100%;
    padding-bottom: 1px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #fff;
    color: #0f0f0f;
    z-index: 2;
    font-weight: bold;
}


/* main page */

.nav-wrapper {
    min-height: 59px;
}

.dropdown-menu {
    text-align: center;
    min-width: 100%;
    white-space: nowrap;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: white;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container-fluid {
    position: relative;
    top: 50px;
}

.social-icons-banner img {
    padding: 5px 5px 0px 5px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    float: right;
}

.front-page {
    margin: 0px 2px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ HOME PAGE/ INDEX SPECIFIC ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Carousel */

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel .container {
    background-color: #0c5c98;
}

.carousel .item {
    background-color: #0c5c98;
    height: 800px;
}


/* Text for main page that overlays the image links */

.overtext {
    position: absolute;
    font-size: 30px;
    color: #ffffff;

    top: 5%;
    left: 5%;
    padding: 0 5;
    opacity: .9;
}


/* The following darken the images when hover and highlight text */

a.darken {
    display: block;
    background: black;
    padding: 0;
}

a.darken img,
a.darken h3 {
  text-shadow: 2px 2px 2px black;
  display: block;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a.darken:hover img {
    opacity: 0.6;
    color: #ffffff;
}

a.darken:hover h3 {
    opacity: 1;
    background-color: transparent;
    font-size: 35px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ TEAM PAGE SPECIFIC ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.teambox {
    margin-bottom: 40px;
}

.teampic {
    box-shadow: 0 0 .8rem .4rem rgba(0, 0, 0, .25);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ SOCIAL MEDIA ICONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.social-icons img {
    padding: 5px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    float: right;
}

.social-icons h1 {
    left: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ CAR PAGE SPECIFIC ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.the-car {
    padding: 10px;
}

.the-car img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    position: relative;
}

.past-cars img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    position: relative;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ PARTNER/SPONSOR PAGE SPECIFIC ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sponsors h1 {
    max-height: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
}

.sponsors a img {
    height: 120px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.bordered {
    border: 2px solid Black;
    border-radius: 8px;
}

.bordered .title {
    position: absolute;
    background-color: black;
}

.title {
    color: white;
    left: 120px;
    top: -15px;
}

.bordered .footer {
    border-top: 1px solid black;
}

.packages {
    margin: 15px 0 0 0;
}

.sponsors .img-responsive {
    margin: 0 auto;
}

.titlesponsor p a img {
    max-height: 120px;
}

.platinumsponsor img {
    max-height: 130px;
}

.platinumsponsor .platspecial img {
    max-height: 90px;
}

.goldsponsor a img {
    max-height: 80px;
}

.silversponsor a img {
    height: 65px;
}

.silversponsor .silversmall img {
    height: 60px;
}

.silversponsor .silverspecial img {
    height: 90px;
}

.silversponsor .silversmall img {
    height: 80px;
}

.bronzesponsor a img {
    height: 60px;
}

.bronzesponsor .bspecial img {
    height: 100px;
}

.steelsponsor a img {
    height: 50px;
}

.steelsponsor .steelspecial img {
    height: 40px;
}

.steelsponsor .steelspecial-2nd img {
    height: 30px;
}


/* Become a sponsor page */

#sponsorlevels,
#sponsorlevels th {
    text-align: center;
}

#sponsorlevels .header {
    width: 100px;
}

#sponsorlevels .fa.fa-check {
    color: green;
}


/* WIRECARE CUSTOM */

img.wirecare {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

img.wirecare:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ COMPETITION SPECIFIC ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.competition-title {
    border-bottom: 1px solid lightgrey;
}

.competition-description {
    padding: 0px 10px 30px 10px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT PAGE SPECIFIC ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#map {
    width: 100%;
    height: 400px;
}
