body { padding-top: 50px; }
.carousel-control.left, .carousel-control.right {background-image: none;}
.carousel .container {background-color: #0c5c98;}
.carousel .item {background-color: #0c5c98;}
.carouseltext{
  /*background-color: rgba(115, 115, 115, .7);*/
  /*border-radius: 20px;*/
  box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.65);
}

.front-page {
  font-size: 20px;
}

.uvic-edge {
  height: 7.2rem;
  repeat-x;
  background-color: #0c5c98;
  background-image: url(/img/uvic-edge.png);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.24);
}

.social-media-button{
  box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.35);
}

/* Team Page */
.teambox {
  margin-bottom:40px;
}

.teampic {
  box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.25);
}



/* Car Page */
.carblock {
  margin: 0 0 3em 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}
.carblock img {
  width:100%;
  border-radius:8px
}


/* Partner Page */
.sponsors h1 img {
  max-height: 90px;
  max-width:80%
}

.sponsors a img{
  max-width:95%;
  height:120px;
  margin-bottom:40px;
  margin-right: 30px;
}

.titlesponsor a img{
  height:200px;
}

.platinumsponsor a img{
  height:130px;
}

.platinumsponsor .platspecial img{
  height: 110px;
}

.goldsponsor a img{
  height:120px;
}

.silversponsor a img{
  height:110px;
}

.silversponsor .silverspecial img{
  height:150px;
}

.silversponsor .silversmall img {
  height: 100px;
}

.bronzesponsor a img{
  height:100px;
}

.steelsponsor a img{
  height:100px;
}

.steelsponsor .steelspecial img{
  height:50px;
}


/* Become a sponsor page */
#sponsorlevels,#sponsorlevels th{
  text-align: center;
}
#sponsorlevels .header{
  width: 100px;
}
#sponsorlevels .fa.fa-check {
  color: green;
}

/* WIRECARE CUSTOM */
img.wirecare{
    border-radius:50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
img.wirecare:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.marketing .col-md-6 {
    margin-bottom: 20px;
    text-align: center;
}
