.carousel-control.left, .carousel-control.right {background-image: none;}
.carousel .container {background-color: #0c5c98;}
.carousel .item {background-color: #0c5c98;}

.uvic-edge {
  height: 7.2rem;
  repeat-x;
  background-color: #0c5c98;
  background-image: url(/img/uvic-edge.png);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.24);
}

.social-media-button{

  box-shadow: 0 0 .8rem .4rem rgba(0,0,0,.35);
}


/* WIRECARE CUSTOM */
img.wirecare{
    border-radius:50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
img.wirecare:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
