@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/montserrat/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kreon-Regular';
    src: url('../fonts/kreon/Kreon-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-R';
    src: url('../fonts/ubuntu/Ubuntu-R.ttf');
    font-weight: normal;
    font-style: normal;
}

#main {
    font-family: 'Ubuntu-R', Arial;
}

body {
    font-family: 'Kreon-Regular', SansSerif, "Times New Roman", Arial;
}

p,
a {
    font-family: 'Kreon-Regular', SansSerif, "Times New Roman", Arial;
}

h1 {
    font-family: 'Ubuntu-R', Serif, "Times New Roman", Arial;
    color: #111111;
    font-weight: 800;
    font-size: 50px;
}

h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu-R', Serif, "Times New Roman", Arial;
    color: #222222;
}

.front-page a {
    font-family: 'Ubuntu-R', Serif, "Times New Roman", Arial;
}

@media all {
    h1 {
        text-align: center;
        width: 100%;
    }
}

p {
    line-height: 150%;
    font-size: 20px;
    color: #444444;
}

a,
td {
    font-size: 16px;
}

.competition-main {
    font-size: 60px;
}