@font-face {
    font-family: 'Montserrat-Light';
    src:url('../fonts/montserrat/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal;
}
#main {
    font-family: 'Montserrat-Light', Arial;
}

body {
    font-family: 'Montserrat-Light', "Times New Roman", Arial;
}